/*****************************************************
*                         SIZE                       *
******************************************************/


/*****************************************************
*                        COLOR                       *
******************************************************/
$black: #262626;
$navy: #3D495C;
$blue: #295BAA;
$skyblue: #649EEE;
$green: #058920;
$yellogreen: #37B450;
$gray: #8E8E8E;
$lightgray: #F4F4F4;
$white: #FFFFFF;


/*****************************************************
*                      STYLE SET                     *
******************************************************/

/*****************************************************
*                     RESPONSIVE                     *
******************************************************/